-- MySQL dump 10.13  Distrib 26.7.0, for Win64 (x86_64)
--
-- Host: localhost    Database: lacteos_axume
-- ------------------------------------------------------
-- Server version	26.7.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `lacteos_axume`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `lacteos_axume` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `lacteos_axume`;

--
-- Table structure for table `bitacora`
--

DROP TABLE IF EXISTS `bitacora`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bitacora` (
  `bitacoracod` int NOT NULL AUTO_INCREMENT,
  `bitcorafch` datetime NOT NULL,
  `bitprograma` varchar(255) NOT NULL,
  `bitdescripcion` varchar(255) NOT NULL,
  `bitobservacion` varchar(255) DEFAULT NULL,
  `bittipo` char(3) NOT NULL,
  `bitusuario` bigint NOT NULL,
  PRIMARY KEY (`bitacoracod`),
  KEY `fk_bitacora_usuario` (`bitusuario`),
  CONSTRAINT `fk_bitacora_usuario` FOREIGN KEY (`bitusuario`) REFERENCES `usuario` (`usercod`)
) ENGINE=InnoDB AUTO_INCREMENT=276 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bitacora`
--

LOCK TABLES `bitacora` WRITE;
/*!40000 ALTER TABLE `bitacora` DISABLE KEYS */;
/*!40000 ALTER TABLE `bitacora` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carrito`
--

DROP TABLE IF EXISTS `carrito`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carrito` (
  `carrito_id` int NOT NULL AUTO_INCREMENT,
  `usercod` bigint NOT NULL,
  `carrito_estado` char(3) NOT NULL,
  `carrito_fecha_creacion` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `carrito_fecha_actualizacion` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`carrito_id`),
  KEY `fk_carrito_usuario` (`usercod`),
  CONSTRAINT `fk_carrito_usuario` FOREIGN KEY (`usercod`) REFERENCES `usuario` (`usercod`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carrito`
--

LOCK TABLES `carrito` WRITE;
/*!40000 ALTER TABLE `carrito` DISABLE KEYS */;
/*!40000 ALTER TABLE `carrito` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carrito_detalle`
--

DROP TABLE IF EXISTS `carrito_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carrito_detalle` (
  `detalle_id` int NOT NULL AUTO_INCREMENT,
  `carrito_id` int NOT NULL,
  `producto_id` int NOT NULL,
  `cantidad` int NOT NULL,
  `precio_unitario` decimal(10,2) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  PRIMARY KEY (`detalle_id`),
  KEY `fk_carrito_detalle_carrito` (`carrito_id`),
  KEY `fk_carrito_detalle_producto` (`producto_id`),
  CONSTRAINT `fk_carrito_detalle_carrito` FOREIGN KEY (`carrito_id`) REFERENCES `carrito` (`carrito_id`),
  CONSTRAINT `fk_carrito_detalle_producto` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`producto_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carrito_detalle`
--

LOCK TABLES `carrito_detalle` WRITE;
/*!40000 ALTER TABLE `carrito_detalle` DISABLE KEYS */;
/*!40000 ALTER TABLE `carrito_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias`
--

DROP TABLE IF EXISTS `categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias` (
  `categoria_id` int NOT NULL AUTO_INCREMENT,
  `categoria_nombre` varchar(100) NOT NULL,
  `categoria_descripcion` text,
  `categoria_estado` char(3) NOT NULL,
  `categoria_fecha_creacion` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `categoria_fecha_actualizacion` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`categoria_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias`
--

LOCK TABLES `categorias` WRITE;
/*!40000 ALTER TABLE `categorias` DISABLE KEYS */;
/*!40000 ALTER TABLE `categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `direcciones_usuario`
--

DROP TABLE IF EXISTS `direcciones_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `direcciones_usuario` (
  `direccion_id` int NOT NULL AUTO_INCREMENT,
  `usercod` bigint NOT NULL,
  `direccion_alias` varchar(50) NOT NULL,
  `direccion_receptor` varchar(150) NOT NULL,
  `direccion_telefono` varchar(20) NOT NULL,
  `direccion_departamento` varchar(100) NOT NULL,
  `direccion_ciudad` varchar(100) NOT NULL,
  `id_ruta` int NOT NULL,
  `direccion_detalle` text NOT NULL,
  `direccion_referencia` text,
  `direccion_predeterminada` tinyint(1) NOT NULL,
  `direccion_estado` char(3) NOT NULL,
  `direccion_fecha_creacion` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `direccion_fecha_actualizacion` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`direccion_id`),
  KEY `fk_direcciones_usuario_usuario` (`usercod`),
  KEY `fk_direcciones_usuario_ruta` (`id_ruta`),
  CONSTRAINT `fk_direcciones_usuario_ruta` FOREIGN KEY (`id_ruta`) REFERENCES `rutas_entrega` (`id_ruta`),
  CONSTRAINT `fk_direcciones_usuario_usuario` FOREIGN KEY (`usercod`) REFERENCES `usuario` (`usercod`)
) ENGINE=InnoDB AUTO_INCREMENT=100 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `direcciones_usuario`
--

LOCK TABLES `direcciones_usuario` WRITE;
/*!40000 ALTER TABLE `direcciones_usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `direcciones_usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `favoritos`
--

DROP TABLE IF EXISTS `favoritos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `favoritos` (
  `favorito_id` int NOT NULL AUTO_INCREMENT,
  `usercod` bigint NOT NULL,
  `producto_id` int NOT NULL,
  `favorito_fecha` datetime NOT NULL,
  PRIMARY KEY (`favorito_id`),
  KEY `fk_favoritos_usuario` (`usercod`),
  KEY `fk_favoritos_producto` (`producto_id`),
  CONSTRAINT `fk_favoritos_producto` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`producto_id`),
  CONSTRAINT `fk_favoritos_usuario` FOREIGN KEY (`usercod`) REFERENCES `usuario` (`usercod`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favoritos`
--

LOCK TABLES `favoritos` WRITE;
/*!40000 ALTER TABLE `favoritos` DISABLE KEYS */;
INSERT INTO `favoritos` VALUES (26,26,21,'2026-10-06 10:50:13'),(27,26,1,'2026-10-06 10:50:13'),(28,26,4,'2026-10-06 10:50:13'),(29,26,14,'2026-10-06 10:50:13');
/*!40000 ALTER TABLE `favoritos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `funciones`
--

DROP TABLE IF EXISTS `funciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `funciones` (
  `fncod` varchar(255) NOT NULL,
  `fndsc` varchar(255) NOT NULL,
  `fnest` char(3) NOT NULL,
  `fntyp` char(3) NOT NULL,
  PRIMARY KEY (`fncod`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `funciones`
--

LOCK TABLES `funciones` WRITE;
/*!40000 ALTER TABLE `funciones` DISABLE KEYS */;
INSERT INTO `funciones` VALUES ('CAT_BROWSE','Navegaci├│n de Cat├ílogo','ACT','CLI'),('CRT_MAN','Gesti├│n de Carrito','ACT','CLI'),('PRD_MAN','Gesti├│n de Productos e Inventario','ACT','ADM'),('USR_MAN','Gesti├│n de Usuarios','ACT','ADM'),('VTA_PROC','Procesamiento de Pedidos y Ventas','ACT','GEN'),('VTA_VIEW','Visualizaci├│n de Ventas','ACT','GEN');
/*!40000 ALTER TABLE `funciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `funciones_roles`
--

DROP TABLE IF EXISTS `funciones_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `funciones_roles` (
  `rolescod` varchar(128) NOT NULL,
  `fncod` varchar(255) NOT NULL,
  `fnrolest` char(3) NOT NULL,
  `fnexp` datetime DEFAULT NULL,
  PRIMARY KEY (`rolescod`,`fncod`),
  KEY `fk_funciones_roles_funciones` (`fncod`),
  CONSTRAINT `fk_funciones_roles_funciones` FOREIGN KEY (`fncod`) REFERENCES `funciones` (`fncod`),
  CONSTRAINT `fk_funciones_roles_roles` FOREIGN KEY (`rolescod`) REFERENCES `roles` (`rolescod`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `funciones_roles`
--

LOCK TABLES `funciones_roles` WRITE;
/*!40000 ALTER TABLE `funciones_roles` DISABLE KEYS */;
INSERT INTO `funciones_roles` VALUES ('ADM','PRD_MAN','ACT',NULL),('ADM','USR_MAN','ACT',NULL),('ADM','VTA_PROC','ACT',NULL),('ADM','VTA_VIEW','ACT',NULL),('CLI','CAT_BROWSE','ACT',NULL),('CLI','CRT_MAN','ACT',NULL),('REP','VTA_VIEW','ACT',NULL),('SUP','PRD_MAN','ACT',NULL),('SUP','VTA_VIEW','ACT',NULL);
/*!40000 ALTER TABLE `funciones_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario_movimientos`
--

DROP TABLE IF EXISTS `inventario_movimientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventario_movimientos` (
  `movimiento_id` int NOT NULL AUTO_INCREMENT,
  `producto_id` int NOT NULL,
  `usercod` bigint NOT NULL,
  `movimiento_tipo` enum('ENTRADA','SALIDA','AJUSTE') NOT NULL,
  `movimiento_cantidad` int NOT NULL,
  `movimiento_stock_anterior` int NOT NULL,
  `movimiento_stock_nuevo` int NOT NULL,
  `movimiento_observacion` varchar(255) DEFAULT NULL,
  `movimiento_fecha` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`movimiento_id`),
  KEY `fk_inventario_movimientos_productos` (`producto_id`),
  KEY `fk_inventario_movimientos_usuario` (`usercod`),
  CONSTRAINT `fk_inventario_movimientos_productos` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`producto_id`),
  CONSTRAINT `fk_inventario_movimientos_usuario` FOREIGN KEY (`usercod`) REFERENCES `usuario` (`usercod`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario_movimientos`
--

LOCK TABLES `inventario_movimientos` WRITE;
/*!40000 ALTER TABLE `inventario_movimientos` DISABLE KEYS */;
INSERT INTO `inventario_movimientos` VALUES (30,21,26,'SALIDA',1,15,14,'Salida por venta 30','2026-10-06 17:11:41'),(31,1,26,'SALIDA',1,25,24,'Salida por venta 31','2026-10-06 17:11:41'),(32,4,26,'SALIDA',1,17,16,'Salida por venta 31','2026-10-06 17:11:41');
/*!40000 ALTER TABLE `inventario_movimientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marcas`
--

DROP TABLE IF EXISTS `marcas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marcas` (
  `marca_id` int NOT NULL AUTO_INCREMENT,
  `marca_nombre` varchar(100) NOT NULL,
  `marca_descripcion` text,
  `marca_estado` char(3) NOT NULL,
  `marca_fecha_creacion` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `marca_fecha_actualizacion` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`marca_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marcas`
--

LOCK TABLES `marcas` WRITE;
/*!40000 ALTER TABLE `marcas` DISABLE KEYS */;
/*!40000 ALTER TABLE `marcas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metodos_pago`
--

DROP TABLE IF EXISTS `metodos_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metodos_pago` (
  `metodo_pago_id` int NOT NULL AUTO_INCREMENT,
  `metodo_nombre` varchar(200) NOT NULL,
  `metodo_descripcion` varchar(255) DEFAULT NULL,
  `metodo_estado` char(3) NOT NULL,
  `metodo_fecha_creacion` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`metodo_pago_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metodos_pago`
--

LOCK TABLES `metodos_pago` WRITE;
/*!40000 ALTER TABLE `metodos_pago` DISABLE KEYS */;
INSERT INTO `metodos_pago` VALUES (1,'Efectivo','Pago en efectivo al momento de recibir el pedido','ACT','2026-10-06 17:06:02'),(2,'Tarjeta de Cr├®dito','Pago mediante tarjeta de cr├®dito','ACT','2026-10-06 17:06:02'),(3,'Tarjeta de D├®bito','Pago mediante tarjeta de d├®bito','ACT','2026-10-06 17:06:02'),(4,'Transferencia Bancaria','Pago mediante transferencia bancaria','ACT','2026-10-06 17:06:02'),(5,'PayPal','Pago mediante PayPal','ACT','2026-10-06 17:06:02');
/*!40000 ALTER TABLE `metodos_pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagos`
--

DROP TABLE IF EXISTS `pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pagos` (
  `pago_id` int NOT NULL AUTO_INCREMENT,
  `venta_id` int NOT NULL,
  `metodo_pago_id` int NOT NULL,
  `pago_monto` decimal(10,2) NOT NULL,
  `pago_referencia` varchar(150) DEFAULT NULL,
  `pago_estado` char(3) NOT NULL,
  `pago_fecha` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`pago_id`),
  KEY `fk_pagos_venta` (`venta_id`),
  KEY `fk_pagos_metodo_pago` (`metodo_pago_id`),
  CONSTRAINT `fk_pagos_metodo_pago` FOREIGN KEY (`metodo_pago_id`) REFERENCES `metodos_pago` (`metodo_pago_id`),
  CONSTRAINT `fk_pagos_venta` FOREIGN KEY (`venta_id`) REFERENCES `ventas` (`venta_id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagos`
--

LOCK TABLES `pagos` WRITE;
/*!40000 ALTER TABLE `pagos` DISABLE KEYS */;
INSERT INTO `pagos` VALUES (30,30,5,37.00,'PAYPAL-LACTEOS-00030','APR','2026-10-06 17:09:49'),(31,31,5,113.00,'PAYPAL-LACTEOS-00031','APR','2026-10-06 17:09:49');
/*!40000 ALTER TABLE `pagos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `producto_imagenes`
--

DROP TABLE IF EXISTS `producto_imagenes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `producto_imagenes` (
  `imagen_id` int NOT NULL AUTO_INCREMENT,
  `producto_id` int NOT NULL,
  `imagen_ruta` varchar(255) NOT NULL,
  `imagen_principal` tinyint(1) NOT NULL,
  `imagen_orden` smallint NOT NULL,
  `imagen_estado` char(3) NOT NULL,
  PRIMARY KEY (`imagen_id`),
  KEY `fk_producto_imagenes_productos` (`producto_id`),
  CONSTRAINT `fk_producto_imagenes_productos` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`producto_id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `producto_imagenes`
--

LOCK TABLES `producto_imagenes` WRITE;
/*!40000 ALTER TABLE `producto_imagenes` DISABLE KEYS */;
/*!40000 ALTER TABLE `producto_imagenes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productos`
--

DROP TABLE IF EXISTS `productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `productos` (
  `producto_id` int NOT NULL AUTO_INCREMENT,
  `categoria_id` int NOT NULL,
  `marca_id` int NOT NULL,
  `producto_sku` varchar(40) NOT NULL,
  `producto_nombre` varchar(150) NOT NULL,
  `producto_slug` varchar(180) NOT NULL,
  `producto_descripcion` text,
  `producto_costo` decimal(10,2) NOT NULL,
  `producto_precio` decimal(10,2) NOT NULL,
  `producto_stock` int NOT NULL,
  `producto_activo` char(3) NOT NULL,
  `producto_estado` char(3) NOT NULL,
  `producto_fecha_creacion` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `producto_fecha_actualizacion` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`producto_id`),
  KEY `fk_productos_categorias` (`categoria_id`),
  KEY `fk_productos_marcas` (`marca_id`),
  CONSTRAINT `fk_productos_categorias` FOREIGN KEY (`categoria_id`) REFERENCES `categorias` (`categoria_id`),
  CONSTRAINT `fk_productos_marcas` FOREIGN KEY (`marca_id`) REFERENCES `marcas` (`marca_id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productos`
--

LOCK TABLES `productos` WRITE;
/*!40000 ALTER TABLE `productos` DISABLE KEYS */;
/*!40000 ALTER TABLE `productos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservas_stock`
--

DROP TABLE IF EXISTS `reservas_stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservas_stock` (
  `reserva_id` int NOT NULL AUTO_INCREMENT,
  `producto_id` int NOT NULL,
  `usercod` bigint NOT NULL,
  `cantidad_reservada` int NOT NULL,
  `reserva_estado` char(3) NOT NULL,
  `reserva_fecha_creacion` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `reserva_fecha_expiracion` datetime DEFAULT NULL,
  `reserva_fecha_confirmacion` datetime DEFAULT NULL,
  `reserva_fecha_liberacion` datetime DEFAULT NULL,
  PRIMARY KEY (`reserva_id`),
  KEY `fk_reservas_stock_producto` (`producto_id`),
  KEY `fk_reservas_stock_usuario` (`usercod`),
  CONSTRAINT `fk_reservas_stock_producto` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`producto_id`),
  CONSTRAINT `fk_reservas_stock_usuario` FOREIGN KEY (`usercod`) REFERENCES `usuario` (`usercod`)
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservas_stock`
--

LOCK TABLES `reservas_stock` WRITE;
/*!40000 ALTER TABLE `reservas_stock` DISABLE KEYS */;
INSERT INTO `reservas_stock` VALUES (45,21,26,1,'CON','2026-10-06 16:50:40','2026-10-06 11:20:40','2026-10-06 10:50:40',NULL),(46,1,26,1,'CON','2026-10-06 16:50:40','2026-10-06 11:20:40','2026-10-06 10:50:40',NULL),(47,4,26,1,'CON','2026-10-06 16:50:40','2026-10-06 11:20:40','2026-10-06 10:50:40',NULL);
/*!40000 ALTER TABLE `reservas_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `rolescod` varchar(128) NOT NULL,
  `rolesdsc` varchar(255) NOT NULL,
  `rolesest` char(3) NOT NULL,
  PRIMARY KEY (`rolescod`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES ('ADM','Administrador del Sistema','ACT'),('CLI','Cliente Final','ACT'),('REP','Repartidor / Log├¡stica','ACT'),('SUP','Supervisi├│n de Inventario y Ventas','ACT');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles_usuarios`
--

DROP TABLE IF EXISTS `roles_usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles_usuarios` (
  `usercod` bigint NOT NULL,
  `rolescod` varchar(128) NOT NULL,
  `roleuserest` char(3) NOT NULL,
  `roleuserfch` datetime NOT NULL,
  `roleuserexp` datetime DEFAULT NULL,
  PRIMARY KEY (`usercod`,`rolescod`),
  KEY `fk_roles_usuarios_roles` (`rolescod`),
  CONSTRAINT `fk_roles_usuarios_roles` FOREIGN KEY (`rolescod`) REFERENCES `roles` (`rolescod`),
  CONSTRAINT `fk_roles_usuarios_usuario` FOREIGN KEY (`usercod`) REFERENCES `usuario` (`usercod`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles_usuarios`
--

LOCK TABLES `roles_usuarios` WRITE;
/*!40000 ALTER TABLE `roles_usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles_usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rutas_entrega`
--

DROP TABLE IF EXISTS `rutas_entrega`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rutas_entrega` (
  `id_ruta` int NOT NULL AUTO_INCREMENT,
  `origen` varchar(100) NOT NULL,
  `destino` varchar(100) NOT NULL,
  `distancia_km` decimal(6,2) NOT NULL,
  `duracion_min` int NOT NULL,
  `estado` char(3) NOT NULL,
  PRIMARY KEY (`id_ruta`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rutas_entrega`
--

LOCK TABLES `rutas_entrega` WRITE;
/*!40000 ALTER TABLE `rutas_entrega` DISABLE KEYS */;
INSERT INTO `rutas_entrega` VALUES (1,'Centro de Distribuci├│n SPS','Zona Norte / San Pedro Sula',12.50,30,'ACT'),(2,'Centro de Distribuci├│n SPS','Zona Sur / San Pedro Sula',8.20,20,'ACT'),(3,'Centro de Distribuci├│n SPS','Tegucigalpa Central',240.00,210,'ACT'),(4,'Centro de Distribuci├│n SPS','La Ceiba Costa',200.00,180,'ACT'),(5,'Centro de Distribuci├│n SPS','Choluteca Sur',350.00,300,'ACT');
/*!40000 ALTER TABLE `rutas_entrega` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tokens_recuperacion`
--

DROP TABLE IF EXISTS `tokens_recuperacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tokens_recuperacion` (
  `token_id` int NOT NULL AUTO_INCREMENT,
  `usercod` bigint NOT NULL,
  `token_hash` varchar(255) NOT NULL,
  `token_expiration` datetime NOT NULL,
  `token_usado` tinyint(1) NOT NULL DEFAULT '0',
  `token_fecha_creacion` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`token_id`),
  KEY `fk_tokens_recuperacion_usuario` (`usercod`),
  CONSTRAINT `fk_tokens_recuperacion_usuario` FOREIGN KEY (`usercod`) REFERENCES `usuario` (`usercod`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tokens_recuperacion`
--

LOCK TABLES `tokens_recuperacion` WRITE;
/*!40000 ALTER TABLE `tokens_recuperacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `tokens_recuperacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `usercod` bigint NOT NULL AUTO_INCREMENT,
  `useremail` varchar(80) NOT NULL,
  `username` varchar(80) NOT NULL,
  `userpswd` varchar(128) NOT NULL,
  `userfching` datetime NOT NULL,
  `userpswdest` char(3) NOT NULL,
  `userpswdexp` datetime DEFAULT NULL,
  `userest` char(3) NOT NULL,
  `useractcod` varchar(128) DEFAULT NULL,
  `userpswdchg` varchar(128) DEFAULT NULL,
  `usertipo` char(3) NOT NULL,
  PRIMARY KEY (`usercod`),
  UNIQUE KEY `uq_usuario_email` (`useremail`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venta_detalle`
--

DROP TABLE IF EXISTS `venta_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `venta_detalle` (
  `detalle_venta_id` int NOT NULL AUTO_INCREMENT,
  `venta_id` int NOT NULL,
  `producto_id` int NOT NULL,
  `producto_nombre` varchar(150) NOT NULL,
  `precio_unitario` decimal(10,2) NOT NULL,
  `cantidad` int NOT NULL,
  `descuento` decimal(10,2) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  PRIMARY KEY (`detalle_venta_id`),
  KEY `fk_venta_detalle_venta` (`venta_id`),
  KEY `fk_venta_detalle_producto` (`producto_id`),
  CONSTRAINT `fk_venta_detalle_producto` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`producto_id`),
  CONSTRAINT `fk_venta_detalle_venta` FOREIGN KEY (`venta_id`) REFERENCES `ventas` (`venta_id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venta_detalle`
--

LOCK TABLES `venta_detalle` WRITE;
/*!40000 ALTER TABLE `venta_detalle` DISABLE KEYS */;
INSERT INTO `venta_detalle` VALUES (28,30,21,'Pud├¡n de Leche 200 g',37.00,1,0.00,37.00),(29,31,1,'Leche Entera 1 Litro',38.00,1,0.00,38.00),(30,31,4,'Queso Fresco 500 g',75.00,1,0.00,75.00);
/*!40000 ALTER TABLE `venta_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas`
--

DROP TABLE IF EXISTS `ventas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventas` (
  `venta_id` int NOT NULL AUTO_INCREMENT,
  `usercod` bigint NOT NULL,
  `direccion_id` int NOT NULL,
  `metodo_pago_id` int NOT NULL,
  `venta_fecha` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `venta_subtotal` decimal(10,2) NOT NULL,
  `venta_impuesto` decimal(10,2) NOT NULL,
  `venta_descuento` decimal(10,2) NOT NULL,
  `venta_total` decimal(10,2) NOT NULL,
  `venta_estado` char(3) NOT NULL,
  `venta_observaciones` text,
  PRIMARY KEY (`venta_id`),
  KEY `fk_ventas_usuario` (`usercod`),
  KEY `fk_ventas_metodo_pago` (`metodo_pago_id`),
  KEY `fk_ventas_direccion` (`direccion_id`),
  CONSTRAINT `fk_ventas_direccion` FOREIGN KEY (`direccion_id`) REFERENCES `direcciones_usuario` (`direccion_id`),
  CONSTRAINT `fk_ventas_metodo_pago` FOREIGN KEY (`metodo_pago_id`) REFERENCES `metodos_pago` (`metodo_pago_id`),
  CONSTRAINT `fk_ventas_usuario` FOREIGN KEY (`usercod`) REFERENCES `usuario` (`usercod`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas`
--

LOCK TABLES `ventas` WRITE;
/*!40000 ALTER TABLE `ventas` DISABLE KEYS */;
INSERT INTO `ventas` VALUES (30,26,54,5,'2026-10-06 17:06:49',37.00,0.00,0.00,37.00,'APR',NULL),(31,26,54,5,'2026-10-06 17:06:49',113.00,0.00,0.00,113.00,'APR',NULL);
/*!40000 ALTER TABLE `ventas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'lacteos_axume'
--

--
-- Dumping routines for database 'lacteos_axume'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-06 11:59:42
